@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    overflow: hidden;
}

.images {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url("./img/maxresdefault.jpg");
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased; 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    animation: colorRotate 7s linear infinite;
    transition: transform 30s;
}

@keyframes colorRotate {
    100% {
    -webkit-filter: hue-rotate(360deg);
    }
}

.images:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.container{
    border-radius: 5px;
    color: black;
    background-color: rgb(255, 248, 220, 0.6);
    box-shadow: 0 2px 15px rgba(255,255,255, 5);
    width: 400px;
    margin-left: 13%;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form{
    padding: 30px 40px;
    padding-top: 15px;
    background: inherit;
    border-radius: 8px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: black;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: green;
}

.form-control.success input {
    border-color: green;
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

b {
    opacity: 1;
}

/*

*{
    margin: 0;
    padding: 0;
   }
   
   html{
       width: 100vw;
       height: 100vh;
   }
   
   // CSS which you need for blurred box 
   body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(http://bit.ly/2gPLxZ4);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
     font-weight: 400;
    -webkit-font-smoothing: antialiased; 
   }
   background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
   .blurred-box{
     position: relative;
     width: 250px;
     height: 350px;
     top: calc(50% - 175px);
     left: calc(50% - 125px);
     background: inherit;
     border-radius: 2px;
     overflow: hidden;
   }
   
   .blurred-box:after{
    content: '';
    width: 300px;
    height: 300px;
    background: inherit; 
    position: absolute;
    left: -25px;
    left position
    right: 0;
    top: -25px;  
    top position 
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
   }
*/

   